---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
---


<Layout>
    <main>
        <Navigation />
        <section class="summary-container">
            <p>I started off running in high school without a clue about what I was doing. All I know was that I was getting healthier and fitter than ever so I continued this journey. Running began to play a significant role in my life. From the daily mileage and speed sessions, to the races and the growing community of runners, it has shaped my perspective of the world around me. The discipline along with creativity and pursuit of constant challenge was the lifestyle I could never abandon. You can track all my training here on <a class="strava-link" href="https://www.strava.com/athletes/33642798" target="_blank">Strava</a>.</p>
        </section>
    
        <!-- <Strava /> -->
    
    </main>
</Layout>

<style>
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;
        --orange-color: rgb(226, 99, 20);
    }
    main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 2rem;
    width: 50%;
    min-width: 400px;
    /* Make sure content aligns consistently */
    max-width: 1200px; /* Add a consistent max-width */
}
    .summary-container {
        width: 100%;
    }
    p {
        line-height: 1.5rem;
        font-size: 1rem;
        color: white;
        width: 100%;
    }

    .strava-link {
        color: var(--orange-color);
        font-size: 1rem;
        text-decoration: none;
        font-weight: 700;
    }

    .strava-link:hover {
        color: rgb(247, 69, 4);
        transition: 0.4s;
    }

    @media screen and (max-width: 1024px) {
        main {
            min-width: 800px;
        }
    }

    @media screen and (max-width: 900px) {
        main {
            min-width: 370px;
        }
    }
</style>