---
---

<div class="footer-container">
    <p>© 2025 Jacky</p>
</div>


<style>

    .footer-container {
        font-size: 1rem;
        color: aliceblue;
    }

    p {
        text-align: center;
    }

    @media screen and (max-width: 1024px) {
        .footer-container {
            min-width: 800px;
        }
    }

    @media screen and (max-width: 900px) {
        .projects-container {
            display: grid;
            grid-template-columns: 1fr;
        }
        .footer-container {
            min-width: 370px;
        }
    }
</style>