---
---

<div class="navigation-container">
    <ul class="social-links">
        <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="https://github.com/smallnumbers0" target="_blank"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/jackykchoi/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
    </ul>
    <div class="right-nav-container">
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/running/Running">Running</a>
    </div>
</div>

<style>
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        --orange-color: rgb(223, 96, 22);
        --purple-color: rgb(148, 9, 235);
    }

    .social-links {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;
    }

    .social-links li {
        display: inline-block;
    }
    /* .title {
        font-size: 1rem;
        opacity: 1;
        color: var(--purple-color);
        box-shadow: inset 0 0 0 1.5px var(--purple-color);
    }
    .title:hover {
        font-size: 1rem;
        color: var(--purple-color);
    } */
    .navigation-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    .home-button {
        display: flex;
        flex-direction: row;
    }
    .right-nav-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        font-size: 1rem;
        color: white;
        list-style: none;  
    }


    a {
        color: white;
        text-decoration: none;
        font-size: 1rem;
        margin: 0.5rem 0;
        border-radius: 5px;
        padding: 0 0.3rem 0.3rem 0.3rem;
    }

    .social-links a {
        padding: 0.2rem;
    }

    .social-links a:hover {
        color: var(--purple-color);
        transition: 0.9s;
        box-shadow: inset 0 0 0 2px var(--purple-color);
    }

    .right-nav-container a {
        padding: 0.2rem;
    }

    .right-nav-container a:hover {
        color: var(--purple-color);
        transition: 0.9s;
        box-shadow: inset 0 0 0 2px var(--purple-color);
    }

    @media screen and (max-width: 1240px) {
        .navigation-container {
            min-width: 370px;
            margin: 0 auto;
            width: 100%;
        }
    }

    @media screen and (max-width: 900px) {
        .navigation-container {
            min-width: 300px;
            display: flex;
            width: 100%;
        }
        .title {
            text-wrap: nowrap;
        }
    }
</style>