---
---

<div class="navigation-container">
    <a class="home-button" href="/">Home</a>
    <div class="right-nav-container">
        <a href="/about">About</a>
        <a href="#">Projects</a>
        <a href="/running/Running">Running</a>
    </div>
</div>

<style>
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    .navigation-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    .home-button {
        display: flex;
        flex-direction: row;
    }
    .right-nav-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        font-size: 1rem;
        color: white;
        list-style: none;   
        gap: 1rem;
    }


    a {
        color: white;
        text-decoration: none;
        padding: 1rem 0;
        border-radius: 1px;
        font-size: 1rem;
    }

    a:hover {
        color: rgb(226, 99, 20);
        transition: 0.5s;
    }

    @media screen and (max-width: 1224px) {
        .nav-container {
            min-width: 555px;
        }
    }
    @media screen and (max-width: 900px) {
        .nav-container {
            min-width: 300px;
            display: flex;
            justify-self: center;
            width: 50%;
        }
    }
</style>