---
---

<ul class="nav-container">
    <li><a href="#">About</a></li>
    <li><a href="#">Projects</a></li>
    <li><a href="#">Running</a></li>
</ul>

<style>
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    .nav-container {
        /* outline: 1px solid blue; */
        margin: 1rem auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-size: 1rem;
        color: white;
        list-style: none;
        text-align: left;
        min-width: 370px;
        padding: 0;
        gap: 1rem;
    }


    a {
        color: white;
        text-decoration: none;
        padding: 1rem 0;
        /* border-right: 1px solid black ;
        border-left: 1px solid black ;
        border-bottom: 1px solid black; */
        border-radius: 1px;
    }

    a:hover {
        color: #4717b7;
        transition: 0.5s;
    }
</style>