---
import Strava from '../components/Strava.astro';
---
<main>
    <section class="header-container">
        <ul class="social-links">
            <li><h1>Jacky Choi</h1></li>
            <li><a href="https://github.com/smallnumbers0" target="_blank"><i class="fa fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/jackykchoi/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        </ul>
        <h2>Penn Engineering 2027</h2>
    </section>
    <section class="summary-container">
        <p>Currently learning the art of Computer Science.</p>
    </section>

    <Strava />
</main>

<style>
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif
    }
    main {
        /* outline: 1px solid red; */
        display: flex;
        align-items: ;
        flex-direction: column;
        margin: 0 auto;
        padding: 2rem;
        width: 50%;
        min-width: 370px;
    }
    h1, h2 {
        /* outline: 1px solid green; */
        text-align: left;
        font-size: 1rem;
        color: aliceblue;
    }

    .header-container {
        /* outline: 1px solid green; */
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        width: 100%;
    }

    .title {
        font-size: 1rem;
        opacity: 0.8;
        color: rgb(109, 226, 98);
    }

    .summary-container {
        display: flex;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .summary-container, p {
        font-size: 1rem;
        color: aliceblue;
        padding: 1rem 0;
        text-align: left;
    }

    .social-links {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 1rem;
    }

    .social-links li {
        display: inline-block;
    }

    .social-links a {
        text-decoration: none;
        font-size: 1rem;
        color: aliceblue;
        transition: color 0.3s;
    }

    .social-links a:hover {
        color: #4717b7;
    }
    i {
        font-size: 1rem;
    }

</style>