---
import Strava from '../components/Strava.astro';
import Navigation from './Navigation.astro';
import ProjectCard from './Project-Card.astro';
import Footer from './Footer.astro';
---
<main>
    <Navigation />
    <!-- <section class="intro-container">
        <h1 id="name">Jacky</h1>
    </section> -->

            <!-- <li><a href="https://github.com/smallnumbers0" target="_blank"><i class="fa fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/jackykchoi/" target="_blank"><i class="fa fa-linkedin"></i></a></li> -->
    <section class="summary-container">
        <div class="profile-pic">
            <img src="https://archives.bulbagarden.net/media/upload/thumb/f/fb/0001Bulbasaur.png/500px-0001Bulbasaur.png" alt="Jacky">
        </div>
        <p>Hey I'm <span id="name">Jacky</span>. I am currently learning the art of Computer Science at the University of Pennsylvania. This site showcases my lifelong journey of learning. I spend most of my time in balancing my academic interests like machine learning, health sciences, and data visualization, along with my athletic pursuits as a distance runner. These experiences sparked my interest into exploring data and programming leading me to work on projects using Python, Javascript, and Mathematical Modeling.
    </section>

    <section class="projects-container">
        <ProjectCard 
            title="In Progress" 
            href="#" 
            description="" 
            img="https://archives.bulbagarden.net/media/upload/thumb/f/fb/0001Bulbasaur.png/500px-0001Bulbasaur.png">
        </ProjectCard>
        <ProjectCard 
            title="In Progress" 
            href="#" 
            description="" 
            img="https://archives.bulbagarden.net/media/upload/thumb/f/fb/0001Bulbasaur.png/500px-0001Bulbasaur.png">
        </ProjectCard>
        <ProjectCard 
            title="In Progress" 
            href="#" 
            description="" 
            img="https://archives.bulbagarden.net/media/upload/thumb/f/fb/0001Bulbasaur.png/500px-0001Bulbasaur.png">
        </ProjectCard>
        <ProjectCard 
            title="In Progress" 
            href="#" 
            description="" 
            img="https://archives.bulbagarden.net/media/upload/thumb/f/fb/0001Bulbasaur.png/500px-0001Bulbasaur.png">
        </ProjectCard>
    </section>
    <Footer />
    <!-- <Strava /> -->

</main>

<style>
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;
        --orange-color: rgb(223, 96, 22);
        --purple-color: rgb(148, 9, 235);
    }
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        padding: 2rem;
        width: 50%; 
        min-width: 400px;
    }

    .intro-container {
        width: 100%;
    }

    #name {
        text-align: left;
        color: rgb(243, 219, 5);
        font-size: 1rem;
        font-weight: bold;
    }

    .header-container,
    .summary-container,
    .projects-container {
        width: 100%;    
        margin: 0;     
    }

    h1, h2 {
        text-align: left;
        font-size: 1rem;
        color: aliceblue;
    }

    p {
        line-height: 1.5rem;
    }

    .header-container {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        width: 100%;
    }

    .title {
        font-size: 1rem;
        opacity: 1;
        color: var(--purple-color);
    }

    .summary-container {
        display: block;  
        text-align: left; 
        padding: 1rem 0; 
    }

    .summary-container p {
        width: 100%;    
        padding: 0;      
        margin: 0;  
        font-size: 1rem;
        color: aliceblue;  
    }

    .profile-pic {
        /* box-shadow: inset 0 0 0 2px rgb(148, 9, 235); */
        border-radius: 5px;
        width: 120px;
        height: 120px;
        padding: 0.3rem;
        margin-right: 0.3rem;
    }

    img {
        max-height:100%; 
        max-width:100%;
        object-fit: contain;
    }

    .summary-container .profile-pic {
        float: left;   
    }


    .social-links {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 1rem;
    }

    .social-links li {
        display: inline-block;
    }

    .social-links a {
        text-decoration: none;
        font-size: 1rem;
        color: aliceblue;
        transition: color 0.3s;
    }

    .social-links a:hover {
        color: var(--purple-color);
    }

    i {
        font-size: 1rem;
    }

    .projects-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        margin: 1rem 0; 
        gap: 0.5rem;
    }

    .project-card:hover {
        border: 1px solid var(--purple-color);
        box-shadow: var(--purple-color) 0px 2px 4px, var(--purple-color) 0px 2px 4px;
        transition: 0.7s;
    }

    @media screen and (max-width: 1024px) {
        main {
            min-width: 800px;
        }
    }

    @media screen and (max-width: 900px) {
        .projects-container {
            display: grid;
            grid-template-columns: 1fr;
        }
        main {
            min-width: 370px;
        }
    }

</style>